/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0,0,0,10%); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(8, 103, 187),; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 61, 227, 0.87); 
}

::-webkit-scrollbar-corner { 
    background: rgba(0,0,0,0.1); 
}


.App {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  background-image: url('./../public/fundo2.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-container{
  background-color: white;
  /* border: 1px solid gray; */
  border-radius: 1rem;
  padding: 1rem 2rem;
  padding-bottom: 2rem;

  box-shadow: 20px 20px 50px rgb(79, 102, 122);
}

.app-title{
  color: rgb(4,194,149);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: left;

  background-color: rgb(80,215,220);
  padding: 1rem;
  border-radius: .5rem;
  /* padding-right: 1rem; */
}

.input-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container input{
  border-radius: .5rem;
  border: none;
  padding: .15rem 1rem;
}

.input-container input:focus{
  outline: none;


}
.login-btn, .consultar-btn{
  width: 6rem;

  border: none;
  background-color: rgb(4,194,149);
  padding: .5rem 1rem;
  border-radius: .6rem;

  color: white;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: background-color .5s ease;
  transition: width .25s ease-in;
  margin-top: 1rem;
}

.login-btn:hover, .consultar-btn:hover{
  filter: brightness(1.1);
  opacity: 2;
  cursor: pointer;
  /* width: 8rem; */
}


/* SELECTION PAGE */

.selection-page-container{
  background-color: white;
  border-radius: 1rem;

  padding: 1rem 2rem;
  padding-bottom: 2rem;

  box-shadow: 20px 20px 50px rgb(79, 102, 122);
}

.options-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;

  margin: 1rem 0;
  margin-top: 0;

}

.consultar-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;

}

.results-container{
  width: 100%;
  height: 20rem;
  background-color: rgb(80,215,220,.3);

  padding-top: .2rem;
  overflow: scroll;
}

.select-container{
/*  background-color: rgb(80,215,220);*/
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.season-select, .country-select, .liga-select, .time-select{
  background-color: rgb(80,215,220);
  color:white;
  border:none;
  border-radius: .5rem;
  margin: 0 .5rem;

  padding: .5rem;
  font-weight: bold;
}

.opcoes-de-constulta-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}


/* COMPONENTE JOGADOR */


.jogador-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: linear-gradient(rgb(8, 103, 187), rgb(88, 165, 233));
  
  border-radius: .4rem;
  margin: .5rem;
  padding: .5rem 0;

  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.player-pic{
  margin: 0 1rem;
}

.player-data{
  width: 90%;
}

.player-data div{
  width: 100%;

  text-align: left;
}
.player-pic img{
  width: 4rem;
}


/* GRAFICO */

.plot-container{
  width: 100%;
  height: 100%;
}


/*UTILIDADES*/

.inactive{
  background-color: gray;
}

.inactive:hover{
  cursor:default;
}